name: CI

on: [push, pull_request]

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v5
      with:
        go-version: '1.23'

    - name: Tests with coverage
      run: go test -v -coverprofile=coverage.out ./...

    - name: Coverage pct
      run: |
        coverage=$(go tool cover -func=coverage.out | grep total | awk '{print $3}')
        echo "Total coverage: $coverage"
        echo "COVERAGE=$coverage" >> $GITHUB_ENV
